.grid {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; 
}

@media (min-width: 1px) and (max-width: 767px) {
    .grid > [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    .hide-mob {
        display: none;
    }
}

@media (min-width: 768px) {

    .grid > [class^="col-"] {
        float: left;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 2%;
    }

    .grid > [class^="col-"]:first-child {
        margin-left: 0;
    }

    .grid > [class^="col-"]:last-child {
        float: right;
    }

    .col-1 {
        width: 6.5%;
    }

    .col-2 {
        width: 15%;
    }

    .col-3 {
        width: 23.5%;
    }

    .col-4 {
        width: 32%;
    }

    .col-5 {
        width: 40.5%;
    }

    .col-6 {
        width: 49%;
    }

    .col-7 {
        width: 57.5%;
    }

    .col-8 {
        width: 66%;
    }

    .col-9 {
        width: 74.5%;
    }

    .col-10 {
        width: 83%;
    }

    .col-11 {
        width: 91.5%;
    }

    .col-12 {
        width: 100%;
    }

    .grid:after {
        content: " ";
        display: table;
        clear: both;
    }
}

@media (min-width: 1200px) {
    .grid {
        max-width: 1000px;
    }
}

@font-face {
   font-family: 'Pitch-Sans';
   src: url('/assets/fonts/test-pitch-sans-medium.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}
 
@font-face {
   font-family: 'Pitch-Sans';
   src: url('/assets/fonts/test-pitch-sans-semibold.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Pitch-Sans';
   src: url('/assets/fonts/test-pitch-sans-medium-italic.woff2') format('woff2');
   font-weight: normal;
   font-style: italic;
}

h1 { 
    font-family: Pitch-Sans;
    font-size: 0.95rem;
    font-weight: bold;
    font-style: normal;
    color: #333;
    text-decoration: line-through;
    transition: text-decoration-color 200ms;
 }

 h1:hover { 
    text-decoration-color: transparent;
 }

.h1-spacing {
    padding-top: 25px;
    line-height: 2rem;
}

.h1-link {
    color: #333;
    text-decoration: none;
}

.h1-link:hover {
    text-decoration: none;
}

h2 { 
    font-family: Pitch-Sans;
    font-size: 0.95rem;
    font-weight: bold;
    font-style: normal;
    color: #333;
 }

.text, form {
    font: 0.95rem/1.45 Pitch-Sans;
    font-weight: normal;
    font-style: normal;
    color: #333;
}

em {
    font-family: Pitch-Sans;
    font-weight: normal;
    font-style: italic;
}

a { 
    color: #333;
    text-decoration: line-through;
    transition: text-decoration-color 200ms;
}

a:hover {
    text-decoration-color: transparent;
}

.text-dimensions {
    margin-top: -3px;
    max-width: 650px;
    padding-bottom: 100px;
}

.book-dimensions {
    max-width: 650px;
    padding-bottom: 25px;
}

.header-space {
    padding-bottom: 25px;
}

input {
    border-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333;
}

input[type="submit"] {
    background: none;
    border: none;
    text-decoration: line-through;
    transition: text-decoration-color 200ms;
}

input[type="submit"]:hover {
    text-decoration-color: transparent;
}

input[type="email"]:focus {
    outline: none;
}

img {
    margin-top: 16px;
}

@media (min-width: 768px) {
	.main {
		display: inline-block;
		width: 100%;
	}

    .title, .text-float-left, .header-float-left, form {
        float: left;
    }

    .header, .text, .title-float-right {
        float: right;
    }

    input[type="email"] {
    width: 225px;
    }
}
