<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ page.title }} | {{ site.title }}</title>

    <meta name="description" content="{{ page.description | default: site.description | escape }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
    <link rel="canonical" href="{{ page.url | absolute_url }}">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png?v=zX6QBrgJb8">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png?v=zX6QBrgJb8">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png?v=zX6QBrgJb8">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png?v=zX6QBrgJb8">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png?v=zX6QBrgJb8">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png?v=zX6QBrgJb8">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png?v=zX6QBrgJb8">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png?v=zX6QBrgJb8">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png?v=zX6QBrgJb8">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=zX6QBrgJb8" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png?v=zX6QBrgJb8" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=zX6QBrgJb8" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=zX6QBrgJb8" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json?v=zX6QBrgJb8">
    <link rel="shortcut icon" href="/favicons/favicon.ico?v=zX6QBrgJb8">
    <meta name="apple-mobile-web-app-title" content="No More Fiction">
    <meta name="application-name" content="No More Fiction">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=zX6QBrgJb8">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=zX6QBrgJb8">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description | escape }}">
    <meta property="og:image" content="{{ '/assets/images/logo.png' | absolute_url }}">
</head>

<body>
    <div class="grid">
        <header class="header-space">
            <div class="main">
                <div class="col-4 title"></div>
                <div class="col-8 header">
                    <div class="header-float-left">
                        <h1 class="h1-spacing">
                            <a class="h1-link" href="/">No</a></br>
                            <a class="h1-link" href="/">More</a></br>
                            <a class="h1-link" href="/">Fiction</a>
                        </h1>
                        <p class="text">Read <a href="/">short stories</a> and <a href="/books">book reviews</a> by <a href="https://berveno.com" rel="noopener" target="_blank">Misha Berveno</a>. Follow behind the scenes on <a href="https://www.instagram.com/mishaberveno" rel="noopener" target="_blank">Instagram</a>.</p>
                        <form
                            action="https://buttondown.com/api/emails/embed-subscribe/nomorefiction"
                            method="post"
                            target="popupwindow"
                            onsubmit="window.open('https://buttondown.com/nomorefiction', 'popupwindow')"
                            class="embeddable-buttondown-form"
                        >
                            <input type="email" name="email" id="bd-email" />
                            <input type="submit" value="Subscribe"/>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
    </div>
</body>
</html>